<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="3.1"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <display-name>Survey Demo Web Application</display-name>
  
  <!-- DispatcherServlet 등록 -->
  <!-- web.xml: 서블릿 설정, dispatcher-servlet.xml: 스프링 설정 -->
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/dispatcher-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <!-- 보안 설정 -->
  <session-config>
  	<session-timeout>60</session-timeout> <!-- 60분 -->
  	<cookie-config>
	  <http-only>true</http-only>
	  <secure>true</secure> <!-- HTTPS 사용 시에만 true -->
	</cookie-config>
  </session-config>
  
  <!-- Root Application Context 설정 -->
  <context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>/WEB-INF/root-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
</web-app>
